@using JobApplications.Data.Models
@using JobApplications.Extensions
@model List<Job>

@{
    // job ->
    var userid = User.GetId();

}
@if (Model.Count > 0)
{
    <div>
        @foreach (var item in Model)
        {
            
            <p class="bg-info">@item.Company - @item.Title - for salary: @item.Salary</p>
            @if (userid == item.Company.IdentityUserId)
            {
                <a asp-controller="Job" asp-action="Delete" asp-route-id="@item.Id" class="btn btn-info">Delete</a>
                <a asp-controller="Job" asp-action="Edit" asp-route-id="@item.Id" class="btn btn-info">Edit</a>
            }
            
            
        else

            {
                
                <a asp-controller="Application" asp-action="ApplyForJob" asp-route-id="@item.Id" class="btn btn-info">Apply</a>
            }

            

        }
    </div>
}




